<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header'); %>

      <main>
        <ul>
          <% articles.forEach(article => { %>
          <a href="/post/<%= article._id %>">
            <h1><%= article.title %></h1>
          </a>
          <h3>
            <a class="ed-del" href="/edit/<%= article._id %>">Edit</a>
            <a class="ed-del" href="/delete/<%= article._id %>">Delete</a>
          </h3>
          <p><%= article.content %></p>
          <% }); %>
        </ul>
      </main>

      <aside class="">
        <h3>About</h3>
        <p>Greetings,</p>

        <p>
          Welcome oh welcome to my personal blog. I'll probably use this blog to
          post personal content about my progress in Web dev. I shall also be
          posting other stuff such as my cooking, travels, learnings and other
          stuff I do often. Thanks for stopping by and stay tuned <3.
        </p>

        <h3>Recent Posts</h3>
        <ul>
          <!-- <li><a href="#">Blog Post #5</a></li>
          <li><a href="#">Blog Post #4</a></li>
          <li><a href="#">Blog Post #3</a></li>
          <li><a href="#">Blog Post #2</a></li>
          <li><a href="#">Blog Post #1</a></li> -->
          <% articles.forEach(article => { %>
          <li><a href="#"><%= article.title %></a></li>
          <% }); %>
        </ul>
      </aside>

      <%- include('../partials/footer'); %>
    </div>
    <!-- <script src="index.js"></script> -->
  </body>
</html>
